html, body {
  height: 100%;
  width: 100%;
  background: black;
  color: white;
}

header {
  text-align: center;
  font-family: sans-serif;
}

h2 {
  margin-bottom: 0;
}

section h2, section h3 {
  text-align: center;
}

.top_logo * {
  font-size: 40px;
  max-height: 50px;
  display: inline-block !important;
  font-style: italic;
}

.top_logo img {
  margin: 0 10px -10px 0;
}

hr {
  color: black;
  max-width: 500px;
}

section.nondev {
  padding: 0% 5%;
  margin: 0 auto;
  max-width: 500px;
}

a {
  text-decoration: none;
  color: #ff6c00;
}
